#train-icon {
    max-width:80px;
    width:100%;
}

.big-header {
    background-color:#faf9f9;
}

body {
    background-image: url("../assets/images/railroad.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.heading {
    font-weight: 500;
}